.container__icon {
    width: 100%;
    background-color: rgb(255, 204, 153, 0.5);
    position: relative;
    height: 170px;
}
.container__icon--font{
    left:87%;
    top:50;
    width: 40px;
    position: absolute;
    padding: 40px;
}
.container__icon--content{
    position: absolute;
    left: 79%;
    top: 47%;

}
.container__icon--content-text {
    font-weight: bold;

}
@media only screen and (max-width: 1000px){
    .container__icon--content{
        left:74%;
    }
    .container__icon--font{
        left:83%;
    }
}
@media only screen and (max-width: 700px){
    .container__icon--content{
        left:69%;
    }
    .container__icon--font{
        left:82%;
    }
}
@media only screen and (max-width: 555px){
    .container__icon--content{
        left:62%;
    }
    .container__icon--font{
        left:77%;
    }
}
@media only screen and (max-width: 470px){
    .container__icon--content{
        left:54%;
    }
    .container__icon--font{
        left:75%;
    }
}
@media only screen and (max-width: 33px){
    .container__icon--content{
        left:48%;
    }
    .container__icon--font{
        left:75%;
    }
}