.container__icon {
    position: relative;

}

.container__icon--font {
    left: 87%;
    top: 50;
    width: 40px;
    position: absolute;
    padding: 40px;
    color: #564147;
    text-decoration: none;
}

.container__icon--content {
    position: absolute;
    left: 79%;
    top: 47%;

}

.container__icon--content-text {
    font-weight: bold;

}

.fa-long-arrow-alt-up {
    color: #564147;
}

.container__icon--font a:hover {
    text-decoration: none;
    color: #564147;
}

figure {
    margin: 0px;
}

@media only screen and (max-width: 1000px) {
    .container__icon--content {
        left: 74%;
    }

    .container__icon--font {
        left: 83%;
    }
}

@media only screen and (max-width: 700px) {
    .container__icon--content {
        left: 69%;
    }

    .container__icon--font {
        left: 82%;
    }
}

@media only screen and (max-width: 555px) {
    .container__icon--content {
        left: 62%;
    }

    .container__icon--font {
        left: 77%;
    }
}

@media only screen and (max-width: 470px) {
    .container__icon--content {
        left: 54%;
    }

    .container__icon--font {
        left: 75%;
    }
}

@media only screen and (max-width: 33px) {
    .container__icon--content {
        left: 48%;
    }

    .container__icon--font {
        left: 75%;
    }
}