.singup
{
    background-color: rgb(255, 204, 153, 0.5);
    display: flex;
    padding-top: 2%;
}

.container-form
{
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top:100px;
    text-align: center;
    margin-bottom: 100px;
}

.form-h2
{
    width: 600px;
    height: auto;
    font-family: 'Livvic', sans-serif;
    text-align: center;
    font-size: 50px;
    margin-top: 50px;
    color: #564147;
    font-weight: bold;
}

.inputEmail3SubtextFalse{
    color: red;
    padding-top: 10px;
}

.inputEmail3SubtextTrue{
    color: green;
    padding-top: 10px;
}

.emailModal{
    display: none;
    position: fixed;
    z-index: 1;
    width: 400px;
    height: 250px;
    left: 0px;
    top: 0px;
    border-radius: 10px;
    background: white;
    border: 1px solid #47817E;
    color:#564147;
    font-family:'Livvic', sans-serif;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
}

.emailModalHeader{
    color: #47817E;
}

.email-btn-play:active{
    outline: none;
    opacity: 0.5;
} 

.email-btn-exit:active{
    outline: none;
    opacity: 0.5;
}





@media (max-width:610px){
    .form-h2{
        width: auto;
        text-align: center;
    }
    @media (max-width:240px){
    .form-h2{
        text-transform: none;
        font-size: 0.8rem;
    }
    }
}