.singup
{
    background-color: rgb(255, 204, 153, 0.5);
    display: flex;
    padding-top: 2%;
}
.container-form
{
 width: auto;
 height: auto;
 margin-left: auto;
 margin-right: auto;
 margin-top:100px;
 text-align: center;
 margin-bottom: 100px;
 
}
.form-h2
{
    width: 600px;
    height: auto;
    font-family: 'Livvic', sans-serif;
    text-align: center;
    font-size: 50px;
    margin-top: 50px;
    color: #564147;
    font-weight: bold;
}

@media (max-width:610px){
    .form-h2{
        width: auto;
        text-align: center;
    }
    @media (max-width:240px){
    .form-h2{
        text-transform: none;
        font-size: 0.8rem;
    }
    }
}