.singup
{
    background-color:rgba(255, 227, 242, 0.5);
    display: flex;
}
.container-form
{
 width: auto;
 height: auto;
 margin-left: auto;
 margin-right: auto;
 margin-top:100px;
 text-align: center;
 margin-bottom: 100px;
}
.form-h2
{
    width: 550px;
    height: auto;
    font-family: 'Livvic', sans-serif;
    text-align: center;
    font-size: 50px;
    margin-top: 50px;
}
@media (max-width:610px){
    .form-h2{
        width: auto;
        text-align: center;
    }
    @media (max-width:240px){
    .form-h2{
        text-transform: none;
        font-size: 0.8rem;
    }
    }
}