.header__container {

    background-color: rgb(255, 204, 153, 0.5);
}

.header_container--box {
    width: auto;
    position: relative;
}

.header_container--box--text {
    position: absolute;
    top: 20%;
    left: 5%;
    color: #564147;
    font-family: 'Livvic', sans-serif;
    font-weight: 600;
    font-size: 40px;
    text-align: center;
}

.header__container--box--img {

    width: auto;
    max-width: 100%;
}

@media (max-width:650px) {
    .header_container--box--text {
        top: 2%;


    }
}

@media (max-width:470px) {
    .header_container--box--text {
        font-weight: 100;
        font-size: 30px;
        top: 8%;

    }
}