body { margin:0;margin-bottom: 0;
    font-family: 'Livvic' sans-serif;
}
.header {

}
.header__header-foto {

    font-family: 'Livvic';
}
.header__header-foto--image {
width: 100%;
height: auto;

}
.header__header--form {
    width: auto;
    
    font-family: 'Livvic';
}
.header__header--form-btn {
    color:#564147;

    margin-left:30px;
    padding: 5px;
    background-color:	#E1B6CA;
    animation:moja_animacja 5s infinite;
}
@keyframes moja_animacja 
{
    30% {color:white;}

}
.header__header-foto-txt {
   
   
    
}
.header__header-foto-txt--h1 {
    font-family: 'Livvic';
    
    margin-left: 30px;
    color: #564147;
}
