    html {
        scroll-behavior: smooth;
    }
 
    .nav {
        width: 100%;
        background-color: #e6fff3;
        position: sticky;
        top: 0;
        z-index: 99;
        display: inline-block;
    }

    .nav__rwd {
        width: 1200px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        font-family: 'Livvic', sans-serif;
        flex-wrap: wrap;
    }
    
    .nav__logo {
        width: auto;
        max-height: 4em;
        margin-left: 2%;
        margin-top: 1%;
        margin-bottom: 1%;
        align-self: left;
    }
    
    .nav__menu a, .nav__menu a:hover, .nav__menu a:visited, .nav__menu a:active {
        color: #65003d;
        text-decoration: none;
    }

    .nav__menu a:hover {
        color: rgb(226, 65, 140);
    }

    span {
        color: #65003d;
    }
    
    .nav__menu {
        text-decoration: none;
        margin: auto 0;
        display: inline-block;
        text-align: right;
    }   
    
    .nav__item {
        padding: 0 1em;
        display: inline-block;
    }

    #toggle {
        display: none;
    }

    #label {
        margin: 0 20px 0 0;
        color:  #65003d;
        font-size: 1.8em;
        display: none;
    }

    @media only screen and (max-width: 870px) {
        .nav__rwd {
            justify-content: center;
        }
        .nav__menu {
            padding-bottom: 0.5em;
            }
    }

    @media only screen and (max-width: 760px) {
        #label {
            display: inline-block;
            cursor: pointer;
            float: right;
            line-height: 70px;
            height: 70px;;
        }

        .nav__logo {
            text-align: left;
            margin-left: 1em;
        }
        
        .nav__rwd {
            display: block;
            min-width: 300px;
        }

        span {
            display: none;
        }

        .nav__menu {
            display: none;
            width: 100%;
            text-align: center;
            padding-bottom: 0;
        }

        .nav__item {
            display: block;
            border-bottom: #65003d;
            margin: 0;
            line-height: 2em;
            border-top: #65003d solid 0.5px;
        }

        #toggle:checked  + .nav__menu {
            display: block;
            border-bottom: #65003d solid 0.5px;
        }
    }

    
    