.navigation {
    
    font-family: 'Livvic', sans-serif;
    font-size: 16px;
    background-color:#FFF3FF;
    height: 5em;
  }

.navigation-content { 
    max-width: 1200px;
    width: 100%;
    padding: 1em 0;
}

.navigation-content__ul{
    margin: 0;
    list-style-type:none;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.navigation-content__li {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #47817E;
    width: 190px;
    text-align: center;
    margin: 0 5px;
}

.navigation-content__li--a{
    color: #47817E;
    text-decoration: none;
    display: block;
    padding: 0.5em 0.2em;
}

.navigation-content__li--a:hover{
    text-decoration: none;
}