body { margin:0;margin-bottom: 0;
    font-family: 'Livvic', sans-serif;
}
header
{
    margin:0;
    height: 100vh;
    width: auto;    
}
.containerheader
{
    height: 100vh;
    width: auto;
    background-size: cover;
    background-repeat:round;
    background-image: url("rozowe.jpg");
    margin:0;
    display: flex;
    flex-direction: column;
}
.containerheader h2
{
display: flex;
font-size: 1.5rem;
margin-left:auto;
margin-top: 30vh;
margin-right: 2vw;
letter-spacing: 3px;
color:#795548;
font-family: 'Livvic', sans-serif;

}
.header-form
{
    display: flex;
    width: 450px;
    height: 100px;
    font-size: 1.4rem;
    
    text-decoration: none;
    margin-left: 200px;
    letter-spacing: 2px;
    color:#795548;
    animation: moja_animacja 5s infinite;
}
.header-form:hover
{
    text-decoration: none;
    color: yellow;
}
@keyframes moja_animacja 
{
    50% {color:white;}
}
h3 .header-form
{
    display: flex;
    width: 400px;
    height: 100px;
    color:#795548;
    font-size:1rem;
}
@media (max-width:1300px){
    .containerheader h2{
        font-size:1.2rem;
    }
}
@media (max-width:1050px){
	.containerheader h2{
        font-size:1.1rem;
        
}
@media (max-width:970px){
	.containerheader h2{
        font-size:1rem;
    
     }
}
@media (max-width:880px){
	.containerheader h2{
        font-size:0.9rem;
      
        text-align:center;
     }
}
@media (max-width:820px){
    .containerheader h2{
        font-size: 0.8rem;
    }
}
@media (max-width:750px){
    .containerheader h2{
        font-size: 0.7rem;
    }
}
@media (max-width:670px){
    .containerheader h2{
        font-size: 0.6rem;
    }
    .header-form{
        margin-left:115px;
        margin-right: 1px;
    }
}
@media (max-width:600px){
    .containerheader h2{
        font-size: 1rem;
        width: 300px;
    }
    .header-form{
        margin-left:60px;
        margin-right: 1px;
    }
}
@media (max-width:500px){
    .containerheader h2{
        font-size: 0.7rem;
        width: 300px;
        margin-top:80px;
       
    }
    .header-form{
        margin-left:30px;
        margin-right: 1px;
        font-size: 0.9rem;
        
        
    }
}
@media (max-width:480px){
    .containerheader h2{
        font-size: 0.7rem;
        margin-top:180px;
    }
    .containerheader{
        flex-direction: unset;
    }
}
@media (max-width:280px){
    .containerheader h2{
        font-size: 0.7rem;
        margin-top:180px;
        margin-left:-65px;
    }
    .containerheader{
        flex-direction: unset;
    }
}