body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #795548;
    font-size: 16px;

    margin: 0 auto;
    background-color:white;
  }

nav { 
    background-color:#F48FB1;
    text-align: center;
    display: inline-flexbox;
    text-decoration-color: #795548;
    -moz-box-shadow: 0 0 10px #795548;
    -webkit-box-shadow: 0 0 10px #795548;
    box-shadow: 0 0 10px #795548;
}

nav li {
    display: inline;
    padding: 0.5em;
    font-size: 22px;
    text-decoration-color: #795548;
}

nav ul li:hover{
    text-decoration:none;
}
                
