    html {
        scroll-behavior: smooth;
    }

    .nav {       
        font-family: 'Livvic', sans-serif;
        background-color: hsl(180, 63%, 85%);
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        position: sticky;
        top: 0;
    }
    
    .nav__logo {
        max-height: 50px;
        width: auto;
        display: inline-block;
        margin-left: 2%;
        margin-top: 1%;
        margin-bottom: 1%;
        align-self: center;
       
    }
    
    .nav a, .nav a:hover, .nav a:visited, .nav a:active {
        color: #65003d;
        text-decoration: none;
    }

    .nav a:hover {
       text-decoration: underline;
    }
    
    .nav__all {
        text-decoration: none;
        display: flex;
        flex-wrap: nowrap;
        margin: auto 0;
       
    }   
    
    .nav__item {
        display: inline;
        padding: 0 1em;
        flex-wrap: nowrap;
        min-width: auto;
    }


    @media screen and (max-width: 850px) {
        .nav__all {
            flex-direction: column;
            align-content: flex-end;
            text-align: center;
            padding: 0;
       }
       .nav {
           justify-content: space-around;
       }
       .nav__item {
           padding: 0;
       }
    }