body { margin:0;margin-bottom: 0;

}
header
{
    margin:0;
    height: 100vh;
    width: auto;
}
.containerheader
{
    height: 100vh;
    width: auto;
    background-size: cover;
    background-repeat:round;
    background-image: url("rozowe.jpg");
    margin:0;
    display: flex;
    flex-direction: column;  
}
.containerheader h1
{
text-align: end;
line-height: 15;
margin-right: 140px;
height: 70px;
}
.containerheader p
{
align-items: center;
display: flex;
font-size: 4vh;
flex-direction: column-reverse;
margin-left:58vh;
margin-top: 50vh;
letter-spacing: 3px;
color:#795548;
}
.logoheader
{
    width:100vh;
    height:auto;
    display: flex;
    margin-top: -100vh; 
}
.logoheader img
{
    width: 31vh;
    height: 30vh;
    display:inline-block;
    margin: 0;  
}
@media (min-width: px) {
}

@media (max-width: px) and (min-width: px) {

}

@media (max-width: px) and (min-width: px) {
}

@media (max-width: px) and (min-width: px) {

}

@media (max-width: px) {
}